
*.xml

SemiSupervisedPosTagger/.idea/.name

SemiSupervisedPosTagger/SemiSupervisedPosTagger.xcodeproj/project.pbxproj

SemiSupervisedPosTagger/SemiSupervisedPosTagger.xcodeproj/xcuserdata/msr.xcuserdatad/xcschemes/SemiSupervisedPosTagger.xcscheme
